/*  =============================================================================
 *  TYPOGRAPHY STYLES
 *  ============================================================================= */

/*
 * FONT SIZING
 * f = font
 * ex: f1 = font size 1
 *  ============================================================================= */
h1,.f1 { font-size: 2rem; }
h2,.f2 { font-size: 1.5rem; }
h3,.f3 { font-size: 1.25rem; }
h4,.f4 { font-size: 1rem; }
h5,.f5 { font-size: 0.75rem; }
h6,.f6 { font-size: 0.5rem; }


/*
 * FONT SIZING - MEDIA QUERIES
 * Group Class Media Queries Immediately so we don't forget about 'em
 *  ============================================================================= */
@media only screen and (min-width: 40em) {
  h1,.f1 { font-size: 3rem; }
  h2,.f2 { font-size: 2rem; }
  h3,.f3 { font-size: 1.5rem; }
  h4,.f4 { font-size: 1rem; }
  h5,.f5 { font-size: 0.8rem; }
  h6,.f6 { font-size: 0.5rem; }
}


/*
 * FONT STYLES
 *  ============================================================================= */
.caps { text-transform: uppercase; }
.italic { font-style:italic; }



/*
 * TEXT ALIGNMENT
 * ex: tac = text align center
 *  ============================================================================= */
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }



/*
 * FONT WEIGHT
 * fw = font-weight
 * ex: fw-light = font weight light
 *  ============================================================================= */
.fw-light { font-weight: 300; }
.fw-normal { font-weight: 400; }
.fw-bold { font-weight: 800; }



/*
 * MISC & GLOBAL DEFAULTS
 *  ============================================================================= */
p { line-height: 1.5rem; }
a { text-decoration: none; color: inherit;}
a:visited { text-decoration: none; color: inherit;}



